---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { getCollection, type CollectionEntry } from "astro:content";

// Obtiene las habitaciones con tipado automático
const habitaciones = await getCollection("habitaciones");

// Supports weights 100-900
import "@fontsource-variable/noto-sans-jp";
---

<Layout>
    <Header />

    <span class="os">
        <h3>DONDE EL DISEÑO MEXICANO SE ENCUENTRA CON EL CONFORT MODERNO</h3>
            
        <p>
            La armonía entre el cielo y el mar se refleja en cada rincón del
            Hotel Santa Cruz. Su diseño contemporáneo, inspirado en la esencia
            mexicana, ofrece un ambiente exclusivo donde la simplicidad y el
            lujo conviven en equilibrio.
        </p>
    </span>

    <div class="habitaciones-grid">
        {
            // importar las habitaciones y el mapeo
            habitaciones.map((habitacion) => {
                const { slug, data } = habitacion;
                const { title, description, amenities, images } = data;

                // retornar todos los datos de las habitaciones
                return (
                    <article class="ContenedorDeHabitaciones">
                       <div class="image-container">
                        <img
                            class="ImdDeLasHabitaciones"
                            src={images}
                            alt={title}
                        />
                        </div>

                        {/* contenedor mostrar la informacion de titulo y su respectiva descripcion */}
                       
                        <div class="ContenedorInformacionTituloDescripciones">
                            <h3>{title}</h3>

                            <p>{description}</p>
                        </div>

                        {/* mostrar aditivos de la habitacion  */}
                        <div class="ContenedorAmenities">
                        <ul class="amenities-list">
                            {amenities.map((item) => (
                                <li>{item}</li>
                            ))}
                        </ul>
                        </div>


                    </div>  

                    </article>
                );
            })
        }
    </div>
 
</Layout>
<style>
    body {
        background: rgb(245, 244, 244);
    }

    .os {
    }

    .os h3,
    p {
        position: relative;
        margin-left: 50px;
    }

    .os h3 {
        color: var(--color-de-texto-tipo-2--);
        font-family: "Noto Sans JP Variable", sans-serif;
        font-size: 25px;
        width: 530px;
        margin-top: 100px;
        color: var(--color-de-texto-habitacion-tipo-1--);
    
    }

    .os p {
        color: var(--color-de-texto-tipo-1--);
        font-family: "Noto Sans JP Variable", sans-serif;
        font-size: 15px;
        width: 600px;
        margin-bottom: 100px;
    }




.image-container img {
  width: 500px;
  height: 300px;
  object-fit: cover;    /* recorta sin deformar */
  object-position: center; /* centra la imagen dentro del recorte */
}
    .ImdDeLasHabitaciones {
        width: 380px;

        overflow: hidden;
        position: relative;
        margin-left: 50px;
        margin-top: 20px;
    }

    .ContenedorDeHabitaciones{
        position: relative;
        width: 100%;
        height: 300px;
        background-color: transparent;
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        

    }

    .ContenedorInformacionTituloDescripciones{
        position: relative;
        display: inline-block;
        width: 500px;
        height: 300px;
        background-color: transparent;
        margin-left: 100px;

    }

    .ContenedorAmenities{
        position: absolute;
        width: 400px;
        height: 100px;
        background-color: transparent;
        margin-left: 630px;
        margin-top: 150px;

    }

    .ContenedorAmenities li{
          color: rgba(207, 42, 194, 0.753);
          font-family: "Noto Sans JP Variable", sans-serif;
          font-size: 15px;
          display: inline-block;
          margin-right: 40px;
          margin-bottom: 20px;
          margin-left: -20px;
          font-weight: 600;
          
          
    }

    .ContenedorInformacionTituloDescripciones p{
        width: 450px;
        margin-left: 0px;
        font-family: "Noto Sans JP Variable", sans-serif;
        color: var(--color-de-texto-tipo-1--);
        font-size: 15px;
    }
    .ContenedorInformacionTituloDescripciones h3{
        font-family: "Noto Sans JP Variable", sans-serif;
       color: var(--color-de-texto-habitacion-tipo-1--);
    }

    	@media (max-width: 768px) {
   
    .os h3 {
        margin: 10%;
        margin-top: 100px;
        width: 80%;
        font-size: 20px;
   
    
    }

    .os p {
        margin: 10%;
        margin-top: 0px;
        width: 80%;
        font-size: 15px;
    }
        .ContenedorDeHabitaciones{
        position: relative;
        width: 100%;
        height: 1000px;
        background-color: transparent;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 100px;

    }

.image-container img {
    position: absolute;
  width: 90%;
  margin: 5%;
  height: 300px;
  object-fit: cover;   
  object-position: center; 
  top: 0px;

}

   .ContenedorInformacionTituloDescripciones{
    width: 80%;
    display: block;
    position: absolute;
    top: 350px;
    margin: 10%;
   }

   .ContenedorInformacionTituloDescripciones p{
     width: 100%;
   }
    .ContenedorAmenities{
      
        position: absolute;
        width: 80%;
        height: 100px;
        background-color: transparent;
        margin-left: 5%;
        margin-top: 350px;
        

    }
    .ContenedorAmenities li{
        display: block;

    }
  
        }
</style>
